.block-company {
    padding-top: 0px;
    padding-left: 38px;
    padding-right: 38px;

    .block-company-container {
        padding-bottom: 2rem;
        border-radius: 20px;
        padding-top: 2rem;

        .block-company-title {
            font-family: Montserrat Alternates;
            font-style: normal;
            font-weight: 600;
            font-size: 2.75rem;
            line-height: 115%;
            /* identical to box height, or 51px */
            text-align: center;


            &:after {
                background: url('/img/tpl_img/icon_title_tablet.png') no-repeat;
                width: 176px;
                height: 37px;
                bottom: -58px;
            }

        }

        .block-company-description {


            .block-text {
                margin-top: 4.5rem;
                padding-left: 25px;
                padding-right: 25px;
                position: relative;


                .text-top {
                    .wrapper-video {
                        display: none;
                    }
                }


                p {

                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.05em;
                    color: #000000;

                    &:not(:first-child) {

                    }

                }

            }


            //////////// LIST BENEFITS
            .list-benefits {
                margin-top: 2rem;
                padding-left: 24px;
                //padding-right: 40px;


                ///// Box Benefits
                .box-benefits {
                    padding: 0px;

                    .inner-box-benefits {


                        .icon-benefits {

                        }

                        .title-benefits {
                            font-family: Montserrat Alternates;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 15px;
                            color: #1C1C1C;

                            margin: 0 auto;
                            margin-top: 10px;
                            text-align: center;
                            width: 100px;
                        }
                    }

                }

                ///// End Box Benefits


            }

            //////////// END LIST BENEFITS


        }
    }
}
