<p class="top-paragraph">Хотите заказать услугу или задать вопросы? Звоните.</p>
<a href="tel:+79616223344" class="link-phone">8-961-622-33-44</a>
<div class="title-contacts">Или пишите удобны вам способом.</div>
<ul class="list-communication">
    <li class="item-communication">
        <a class="item-link-communication" href="whatsapp://send?phone=+79536276156">
            <img src="/img/tpl_img/icon_whatsup.png">
        </a>
    </li>
    <li class="item-communication">
        <a class="item-link-communication" href="viber://chat?number=+79536276156">
            <img src="/img/tpl_img/icon_viber.png">
        </a>
    </li>
    <li class="item-communication">
        <a target="_blank" class="item-link-communication" href="https://vk.com/burenie57">
            <img src="/img/tpl_img/icon_vk.png">
        </a>
    </li>
    <li class="item-communication">
        <a target="_blank" class="item-link-communication" href="https://ok.ru/group/57384619802649">
            <img src="/img/tpl_img/icon_ok.png">
        </a>
    </li>
</ul>
