<!------------------------------ BLOCK LIST ORDER WORK ------------------------------->
<div class="block-page-work">
    <div class="container">
        <!------------------------------ BLOCK LIST ORDER WORK ------------------------------->
        <div class="row block-work__block-list-order-work block-list-order-work">


            <!----------- BOX ORDER WORK 1 ------------>
            <div
                class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 order-xl-1 order-lg-1 order-md-1 order-sm-1 order-1 block-list-order-work__box-order-work box-order-work box-order-work1">

                <div class="box-order-work__inner-box-order-work inner-box-order-work">
                    <i class="box-order-work__num-order-work num-order-work num-order-work1">1</i>
                    <div class="box-order-work__block-img-order-work block-img-order-work">
                        <img class="block-img-order-work__img-order-work img-fluid img-order-work img-order-work1"
                             alt="бурение скважин в Орле" src="/img/tpl_img/icons_work/icon1.png">
                    </div>
                    <div class="box-order-work__text-order-work text-order-work">
                        Оставляете заявку<br> на сайте или по<br> телефону
                    </div>
                </div>

            </div>
            <!----------- END BOX ORDER WORK 1 ------------>


            <!----------- BOX ORDER WORK 2 ------------>
            <div
                class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 order-xl-2 order-lg-2 order-md-3 order-sm-3 order-2 block-list-order-work__box-order-work box-order-work box-order-work2">
                <div class="box-order-work__inner-box-order-work inner-box-order-work">
                    <i class="box-order-work__num-order-work num-order-work num-order-work2">2</i>
                    <div class="box-order-work__block-img-order-work block-img-order-work">
                        <img class="block-img-order-work__img-order-work img-fluid img-order-work img-order-work2"
                             alt="бурение скважин в Орле" src="/img/tpl_img/icons_work/icon2.png">
                    </div>
                    <div class="box-order-work__text-order-work text-order-work">
                        Наш специалист<br>
                        проконсультирует вас<br>
                        по телефону или<br>
                        выедет на объект
                    </div>
                </div>
            </div>
            <!----------- END BOX ORDER WORK 2 ------------>


            <!----------- BOX ORDER WORK 3 ------------>
            <div
                class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 order-xl-3 order-lg-3 order-md-2 order-sm-2 order-3 block-list-order-work__box-order-work box-order-work box-order-work3">
                <div class="box-order-work__inner-box-order-work inner-box-order-work">
                    <i class="box-order-work__num-order-work num-order-work num-order-work3">3</i>
                    <div class="box-order-work__block-img-order-work block-img-order-work">
                        <img class="block-img-order-work__img-order-work img-fluid img-order-work img-order-work3"
                             alt="бурение скважин в Орле" src="/img/tpl_img/icons_work/icon3.png">
                    </div>
                    <div class="box-order-work__text-order-work text-order-work">
                        Бурение скважины<br>
                        и прокачка до<br>
                        чистой воды
                    </div>
                </div>
            </div>
            <!----------- END BOX ORDER WORK 3 ------------>


            <!----------- BOX ORDER WORK 4 ------------>
            <div
                class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 order-xl-4 order-lg-4 order-md-4 order-sm-4 order-4 block-list-order-work__box-order-work box-order-work box-order-work4">
                <div class="box-order-work__inner-box-order-work inner-box-order-work">
                    <i class="box-order-work__num-order-work num-order-work num-order-work4">4</i>
                    <div class="box-order-work__block-img-order-work block-img-order-work">
                        <img class="block-img-order-work__img-order-work img-fluid img-order-work img-order-work4"
                             alt="бурение скважин в Орле" src="/img/tpl_img/icons_work/icon4.png">
                    </div>
                    <div class="box-order-work__text-order-work text-order-work">
                        Принимаете и<br>
                        оплачиваете работу,<br>
                        подписываем документы,<br>
                        выдаем паспорт на<br>
                        скважину
                    </div>
                </div>
            </div>
            <!----------- END BOX ORDER WORK 4 ------------>


        </div>
        <!------------------------------ END BLOCK LIST ORDER WORK ------------------------------->
    </div>
    <div class="wavy-line"></div>
</div>
<!------------------------------ END BLOCK LIST ORDER WORK ------------------------------->

<!------------------------------ BLOCK GALLERY PAGE ORDER WORK ------------------------------->
<div class="block-gallery-page-our-work">

    <div class="container">


        <h2 class="block-gallery-page-our-work__title-gallery-page-our-work title-gallery-page-our-work w-100">
            Наши работы
        </h2>

        <div class="block-gallery-page-our-work__block-list-gallery block-list-gallery">


            <!--------------------------------------- ROW LIST GALLERY 1 ---------------------------------------->
            <div class="block-list-gallery__row-list-gallery row row-list-gallery row-list-gallery1">

                <!------------------ BOX GALLERY LEFT ---------------->
                <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row block-list-gallery__box-gallery box-gallery box-gallery-left">

                    <div class="box-gallery__wrapper-img col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 wrapper-img">
                        <slick-carousel-work-gallery :num-gallery=1 :count-slides=3></slick-carousel-work-gallery>
                    </div>

                    <div
                        class="box-gallery__description-gallery col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 description-gallery">
                        <ul class="description-gallery__list-description-gallery list-description-gallery">
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Глубина скважины: 40 метров
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Используемая техника: УРБ 2А2(бурение с промывкой)
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Срок выполнения: 10 часов
                            </li>

                        </ul>
                    </div>

                </div>
                <!------------------ END BOX GALLERY LEFT ---------------->


                <!------------------ BOX GALLERY RIGHT ---------------->
                <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row block-list-gallery__box-gallery box-gallery box-gallery-right">

                    <div class="box-gallery__wrapper-img col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 wrapper-img">
                        <slick-carousel-work-gallery :num-gallery=2 :count-slides=3></slick-carousel-work-gallery>
                    </div>

                    <div
                        class="box-gallery__description-gallery col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 description-gallery">
                        <ul class="description-gallery__list-description-gallery list-description-gallery">
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Глубина скважины: 55 метров
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Используемая техника: УРБ 2А2(бурение с промывкой)
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Срок выполнения: 12 часов
                            </li>
                        </ul>
                    </div>

                </div>
                <!------------------ END BOX GALLERY RIGHT ---------------->


            </div>
            <!--------------------------------------- END ROW LIST GALLERY 1 ---------------------------------------->


            <!--------------------------------------- ROW LIST GALLERY 2 ---------------------------------------->
            <div class="block-list-gallery__row-list-gallery row row-list-gallery row-list-gallery2">

                <!------------------ BOX GALLERY LEFT ---------------->
                <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row block-list-gallery__box-gallery box-gallery box-gallery-left">

                    <div class="box-gallery__wrapper-img col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 wrapper-img">
                        <slick-carousel-work-gallery :num-gallery=3 :count-slides=3></slick-carousel-work-gallery>
                    </div>

                    <div
                        class="box-gallery__description-gallery col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 description-gallery">
                        <ul class="description-gallery__list-description-gallery list-description-gallery">
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Глубина скважины: 90 метров
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Используемая техника: УРБ 2А2(бурение с промывкой)
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Срок выполнения: 3 дня
                            </li>
                        </ul>
                    </div>

                </div>
                <!------------------ END BOX GALLERY LEFT ---------------->


                <!------------------ BOX GALLERY RIGHT ---------------->
                <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row block-list-gallery__box-gallery box-gallery box-gallery-right">

                    <div class="box-gallery__wrapper-img col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 wrapper-img">
                        <slick-carousel-work-gallery :num-gallery=4 :count-slides=3></slick-carousel-work-gallery>
                    </div>

                    <div
                        class="box-gallery__description-gallery col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 description-gallery">
                        <ul class="description-gallery__list-description-gallery list-description-gallery">
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Глубина скважины: 18 метров
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Используемая техника: ПБУ-1(бурение на сухую)
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Срок выполнения: 8 часов
                            </li>
                        </ul>
                    </div>

                </div>
                <!------------------ END BOX GALLERY RIGHT ---------------->


            </div>
            <!--------------------------------------- END ROW LIST GALLERY 2 ---------------------------------------->


            <!--------------------------------------- ROW LIST GALLERY 3 ---------------------------------------->
            <div class="block-list-gallery__row-list-gallery row row-list-gallery row-list-gallery3">

                <!------------------ BOX GALLERY LEFT ---------------->
                <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row block-list-gallery__box-gallery box-gallery box-gallery-left">
                    <div class="box-gallery__wrapper-img col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 wrapper-img">
                        <slick-carousel-work-gallery :num-gallery=5 :count-slides=3></slick-carousel-work-gallery>
                    </div>

                    <div
                        class="box-gallery__description-gallery col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 description-gallery">
                        <ul class="description-gallery__list-description-gallery list-description-gallery">
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">

                                Глубина скважины: 17 метров
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">

                                Используемая техника: ПБУ-1(бурение на сухую)
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">

                                Срок выполнения: 7 часов
                            </li>
                        </ul>
                    </div>

                </div>
                <!------------------ END BOX GALLERY LEFT ---------------->


                <!------------------ BOX GALLERY RIGHT ---------------->
                <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 row block-list-gallery__box-gallery box-gallery box-gallery-right">
                    <div class="box-gallery__wrapper-img col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 wrapper-img">
                        <slick-carousel-work-gallery :num-gallery=6 :count-slides=3></slick-carousel-work-gallery>
                    </div>

                    <div
                        class="box-gallery__description-gallery col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 description-gallery">
                        <ul class="description-gallery__list-description-gallery list-description-gallery">
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Глубина скважины: 16 метров
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Используемая техника: ПБУ-1(бурение на сухую)
                            </li>
                            <li class="list-description-gallery__item-text-gallery item-text-gallery">
                                Срок выполнения: 7 часов
                            </li>
                        </ul>
                    </div>

                </div>
                <!------------------ END BOX GALLERY RIGHT ---------------->
            </div>
            <!--------------------------------------- END ROW LIST GALLERY 3 ---------------------------------------->

        </div>


    </div>

</div>
<!------------------------------ END BLOCK GALLERY PAGE ORDER WORK ------------------------------->

<!---------------------------- BLOCK CASING OPTIONS ------------------------------>
<div class="block-casing-options">

    <div class="container">

        <h2 class="block-casing-options__title-block-casing-options title-block-casing-options w-100">Варианты абсадных
            колонн</h2>

        <div class="block-casing-options__list-casing-options list-casing-options">
            <slick-carousel-casing-options></slick-carousel-casing-options>
        </div>


    </div>


</div>
<!---------------------------- END BLOCK CASING OPTIONS ----------------------------    -->


<div class="block-requirements">

    <div class="container">

        <h2 class="block-requirements__title-block-requirements title-block-requirements w-100">Требования к участку<br>
            для
            проведения работ</h2>


        <div class="block-requirements__subtitle-block-requirements subtitle-block-requirements w-100">
            Для качественного монтажа, безаварийной работы и последующего использования бурового оборудования<br>
            необходимо удостовериться, что соблюден ряд требований.<br>
            Перед бурением скважины на воду следует убедиться, что:
        </div>


        <div class="block-requirements__block-list-requirements block-list-requirements">

            <ul class="block-list-requirements__list-requirements list-requirements">
                <li class="list-requirements__item-requirement item-requirement item-requirement1">Расстояние от
                    фундамента до точки бурения — более трех метров.
                </li>
                <li class="list-requirements__item-requirement item-requirement item-requirement2">В зоне проведения
                    работ нет никаких подземных коммуникаций.
                </li>
                <li class="list-requirements__item-requirement item-requirement item-requirement3">Площадка для бурения
                    артезианской скважины — не менее 4х12 м.
                </li>
                <li class="list-requirements__item-requirement item-requirement item-requirement4">Уклон участка не
                    превышает 11°
                </li>
                <li class="list-requirements__item-requirement item-requirement item-requirement5">Ширина проезда к
                    точке бурения скважины на воду —<br>
                    не менее четырех метров.
                </li>
                <li class="list-requirements__item-requirement item-requirement item-requirement6">Над точкой бурения
                    отсутсвуют линии электропередач
                </li>
            </ul>

        </div>

    </div>

</div>
<!--------------------------- BLOCK FORM --------------------------------->
<div class="block-form">
    <div class="container">
        <!------------------ START FORM --------------------->
        <form-order></form-order>
        <!------------------ END  FORM --------------------->
    </div>
</div>
<!--------------------------- END BLOCK FORM --------------------------------->
