<!-------------- Block Auger Drilling --------------------->
<div class="block-auger-drilling">
    <div class="container">
        <div class="row">


            <!-------------------- LEFT COLUMN PAGE --------------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-auger-drilling__left-column-page left-column-page">
                <div
                    class="left-column-page__wrapper-title-block-auger-drilling w-100 wrapper-title-block-auger-drilling">
                    <h3 class="wrapper-title-block-auger-drilling__title-block-auger-drilling title-block-auger-drilling">
                        Шнековый метод бурения
                    </h3>
                </div>

                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__top-paragraph top-paragraph">
                        Мягкие и вязкие породы, на небольших глубинах <b>до 30 метров без проблем бурятся шнеками</b>.
                        Шнек - это труба со спиралевидными лопастями (напоминает штопор), благодаря которым происходит
                        вращательный процесс с погружением в землю и выемкой земли грунта на обратном ходу.
                    </p>
                    <p class="text-left-column-page__bottom-paragraph bottom-paragraph">
                        Бурить скважину <b>при помощи шнека можно в мягких породах</b>, а также средней твердости, не
                        имеющих на пути к воде скалистых и каменистых пород.
                    </p>
                    <img
                        class="text-left-column-page__img-text-left-column-page img-fluid img-text-left-column-page img-text-left-column-page-b-position"
                        alt="Шнековый метод бурения" src="/img/usr_img/page_well_boring/icon_page1.png">
                </div>
            </div>
            <!-------------------- END LEFT COLUMN PAGE --------------------->


            <!-------------------- RIGHT COLUMN PAGE --------------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-auger-drilling__right-column-page right-column-page">
                <svg width="747" height="709" viewBox="0 0 747 709" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M202.356 460.22C151.772 368.38 192.698 317.872 131.385 222.695C70.072 127.517 238.528 95.1298 310.878 116.333C383.227 137.536 432.502 256.953 451.551 282.08C470.601 307.206 523.712 325.384 653.346 334.349C782.98 343.315 665.447 547.269 567.162 559.101C520.838 564.678 401.203 585.733 346.484 566.509C285.106 544.945 229.099 508.773 202.356 460.22Z" fill="#F3F9FB"/>
                </svg>
                <ul class="right-column-page__list-images list-images d-flex">
                    <li class="list-images__item-li-img item-li-img item-li-img-left">
                        <img alt="Шнековый метод бурения" class="item-li-img__item-img item-img img-fluid"
                             src="/img/usr_img/page_well_boring/image1.png">
                    </li>
                    <li class="list-images__item-li-img item-li-img item-li-img-right">
                        <img alt="Шнековый метод бурения" class="item-li-img__item-img item-img img-fluid"
                             src="/img/usr_img/page_well_boring/image2.png">
                    </li>
                </ul>

            </div>
            <!-------------------- END RIGHT COLUMN PAGE --------------------->


        </div>

    </div>


</div>
<!-------------- End Block Drawings Auger Drilling --------------------->


<!-------------- Block Flush Drilling --------------------->
<div class="block-flush-drilling">

    <div class="container">
        <div class="row">
            <!-------------------- LEFT COLUMN PAGE --------------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-flush-drilling__left-column-page left-column-page">
                <div
                    class="w-100 left-column-page__wrapper-title-block-flush-drilling wrapper-title-block-flush-drilling">
                    <h3 class="wrapper-title-block-flush-drilling__title-block-flush-drilling title-block-flush-drilling">
                        Бурение с промывкой</h3>
                </div>


                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p>
                        Применяется для бурения глубоких скважин Для разрушения породы используются шарошечное долото.
                        Основная задача промывки, это подъем на поверхность разбуренной породы, и попутно укрепление
                        стенок скважины от обвала. При бурении в твердых породах в воду добавляют специальные буровые
                        смеси, задачей которых является также глинизация стенок скважины, вынос разбуренной породы на
                        поверхность, смазка и охлаждение бурового инструмента.
                    </p>
                    <p>
                        Технология предполагает замкнутый процесс циркуляции жидкости, для чего рядом с буровой
                        установкой копаются технологические зумпфы(приямки). Оседание твердых частиц выбуренной породы
                        происходит в первом из них, далее раствор перетекает по каналу во второй, где уже грязевый насос
                        засасывает раствор для подачи обратно в забой.
                    </p>
                    <p>Преимущество метода – бурение практически в любых породах.</p>
                    <p>Таким образом, бурение с промывкой является универсальным способом бурения, но не всегда подходит
                        для бурения в некоторых районах области и особенно на небольшие глубины.</p>
                </div>


            </div>
            <!-------------------- END LEFT COLUMN PAGE --------------------->


            <!-------------------- RIGHT COLUMN PAGE --------------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-flush-drilling__right-column-page right-column-page">
                <svg width="673" height="505" viewBox="0 0 673 505" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M273.5 49C178.909 64.287 203.305 149.177 100 159C-3.30527 168.824 26.9995 315.5 113.5 357C200 398.501 319.028 405.155 348 404.5C376.972 403.845 392.252 384.074 475.5 467C558.748 549.926 661.766 352.458 611.747 279.538C588.172 245.169 531.965 152.821 485.971 126.145C434.381 96.2227 323.507 40.9182 273.5 49Z" fill="#F3F9FB"/>
                </svg>



                <ul class="right-column-page__list-images list-images d-flex">
                    <li class="list-images__item-li-img item-li-img item-li-img-left">
                        <img alt="Бурение с промывкой" class="item-li-img__item-img item-img img-fluid"
                             src="/img/usr_img/page_well_boring/image3.png">
                    </li>
                    <li class="list-images__item-li-img item-li-img item-li-img-right">
                        <img alt="Бурение с промывкой" class="item-li-img__item-img item-img img-fluid"
                             src="/img/usr_img/page_well_boring/image4.png">
                    </li>
                </ul>

                <p class="right-column-page__text-right-column-page text-right-column-page">
                    После того, как скважина пробурена, мы делаем пробную откачку воды своим насосом, тем самым очищая
                    свежепробуренную скважину от крупных частиц известняка в грязной воде, тем самым защищая новый насос
                    клиента от повреждений. А так же проверяем динамический уровень и выдаваемый объем воды. Далее
                    происходит замер глубины скважины и мы выписываем комплект документов, в который входит договор,
                    гарантия, и паспорт. Только после увиденного результата заказчик оплачивает работу.
                </p>

            </div>
            <!-------------------- END RIGHT COLUMN PAGE --------------------->

        </div>

    </div>


</div>
<!-------------- End Block Flush Drilling --------------------->


<!-------------- Block Drawings --------------------->
<div class="block-drawings">

    <div class="container">

        <div class="block-drawings__wrapper-title-block-drawings wrapper-title-block-drawings w-100">
            <h3 class="block-drawings__title-block-drawings title-block-drawings">
                Как подготовить<br>
                участок для бурения
            </h3>
        </div>
        <div class="block-drawings__subtitle-block-drawings subtitle-block-drawings">
            Нужно расчистить подъездные пути к участку (шириной примерно 4 метра), освободить место под бурение<br>
            (примерно 4*6 метров), над которым не будет нависающих проводов, и подготовить площадку для<br>
            временного хранения труб.<br>
        </div>
        <h4 class="block-drawings__title-list-drawings title-list-drawings">
            Ниже на схеме показано сколько нужно пространства для машины.
        </h4>


        <div class="row block-drawings__list-drawings list-drawings">

            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 list-drawings__wrapper-box-drawing wrapper-box-drawing">
                <div class="wrapper-box-drawing__box-drawing box-drawing d-flex align-items-center box-drawing-left">
                    <img alt="схемы пространства для машины" class="img-fluid box-drawing__img-drawing img-drawing"
                         src="/img/usr_img/page_services/drawing_left.png">
                </div>
            </div>

            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 list-drawings__wrapper-box-drawing wrapper-box-drawing">
                <div class="wrapper-box-drawing__box-drawing box-drawing d-flex align-items-center box-drawing-right">
                    <img alt="схемы пространства для машины" class="img-fluid box-drawing__img-drawing img-drawing"
                         src="/img/usr_img/page_services/drawing_right.png">
                </div>
            </div>

        </div>


    </div>


</div>
<!-------------- End Block Drawings --------------------->

<!-------------- Block Form Order --------------------->
<div class="block-form">
    <div class="container">
        <!------------------ START FORM --------------------->
        <form-order></form-order>
        <!------------------ END  FORM --------------------->
    </div>
</div>
<!-------------- End Block Form Order --------------------->

<!--------------- Block List Orders ----------------->
<div class="block-list-orders">
    <div class="container">

        <div class="block-list-orders__title-block-list-orders title-block-list-orders w-100">
            Так же у нас можно заказать:
        </div>

        <div class="row row-list-orders">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 wrapper-list-orders">
                <ul class="block-list-orders__list-orders row list-orders">


                    <li class="list-orders__item-order col-auto item-order item-order1">
                        <a class="item-order__item-link-order item-link-order" href="/page/remont_i_chistka_skvazhin">Ремонт <br>скважин</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order2">
                        <a class="item-order__item-link-order item-link-order" href="/page/izvlechenie_nasosov">Извлечение <br>насосов</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order3">
                        <a class="item-order__item-link-order item-link-order" href="/page/inzhenernie_iziskaniya">Инженерные <br>изыскания</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order4">
                        <a class="item-order__item-link-order item-link-order" href="/page/obustroistvo_skvazhin">Обустройство <br>скважин</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
<!--------------- End Block List Orders ----------------->
