<!--------------------------- BLOCK FIRST OPTION W-CPL --------------------------------->
<div class="block-first-option-w-cpl">
    <div class="container">

        <div class="row">

            <!------------- LEFT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-first-option-w-cpl__left-column-page left-column-page">

                <div
                    class="left-column-page__wrapper-title-block-first-option-w-cpl w-100 wrapper-title-block-first-option-w-cpl">
                    <h3 class="wrapper-title-block-auger-drilling__title-block-first-option-w-cpl title-block-first-option-w-cpl">
                        Первый вариант – летний <br>(дачный)
                    </h3>
                </div>


                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__top-paragraph top-paragraph">
                        Недорогой и простой способ подачи воды из скважины. При таком варианте в скважине устанавливают
                        насос и выводят от него трубу через оголовок. К трубе подсоединяют поливочный шланг. Можно
                        поливать грядки и набирать воду в емкости для использования в доме. В дачном варианте не
                        устанавливают обратный клапан в насосе. Вода сливается по трубе обратно в скважину и зимой не
                        замерзает. Такой вариант можно только условно считать летним, скважину используют и зимой.
                        Единственное неудобство в том, что насос надо каждый раз включать вручную.
                    </p>
                    <p class="text-left-column-page__middle-paragraph middle-paragraph">
                        Можно обустроить скважину и без оголовка. Для этого просто закрепляют трубу и закрывают скважину
                        от попадания мусора. Часто такую обвязку делают сразу после бурения скважины, например, для ее
                        прокачки. Летний вариант выбирают, если нужна вода, к примеру, для строительных нужд. После
                        постройки делают уже полноценное обустройство скважины с автоматикой и подводом трубопровода к
                        дому.
                    </p>
                    <p class="text-left-column-page__last-paragraph last-paragraph">
                        Такое обустройство вы можете сделать самостоятельно, для этих целей мы выписываем паспорт на
                        скважину, с которым вы приходите в магазин и там вам подбирают водоподъемное оборудование
                        согласно вашему бюджету и параметрам вашей скважины
                    </p>
                </div>

            </div>
            <!------------- END LEFT COLUMN PAGE -------------->

            <!------------- RIGHT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-first-option-w-cpl__right-column-page right-column-page">
                <div class="right-column-page__wrapper-img-right-column-page wrapper-img-right-column-page">
                    <svg width="593" height="465" viewBox="0 0 593 465" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M84.3563 350.22C33.7723 258.38 74.6977 207.872 13.3848 112.695C-47.928 17.5171 120.528 -14.8702 192.878 6.33272C265.227 27.5357 314.502 146.953 333.551 172.08C352.601 197.206 405.712 215.384 535.346 224.349C664.98 233.315 547.447 437.269 449.162 449.101C402.838 454.678 283.203 475.733 228.484 456.509C167.106 434.945 111.099 398.773 84.3563 350.22Z" fill="#F3F9FB"/>
                    </svg>

                    <img class="img-fluid" alt="Первый вариант – летний (дачный)"
                         src="/img/usr_img/page_obustroistvo_skvazhini/image1.png">
                </div>
            </div>
            <!------------- END RIGHT COLUMN PAGE -------------->


        </div>


    </div>
</div>
<!--------------------------- END BLOCK FIRST OPTION W-CPL --------------------------------->


<!--------------------------- BLOCK SECOND OPTION W-CPL --------------------------------->
<div class="block-second-option-w-cpl">

    <div class="container">
        <div class="row">

            <!------------- LEFT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-second-option-w-cpl__left-column-page left-column-page">
                <div
                    class="left-column-page__wrapper-title-block-second-option-w-cpl w-100 wrapper-title-block-second-option-w-cpl">
                    <h3 class="wrapper-title-block-auger-drilling__title-block-second-option-w-cpl title-block-second-option-w-cpl">
                        Второй вариант – <br>автоматизация скважины
                    </h3>
                </div>

                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__top-paragraph top-paragraph">
                        Такой вариант обустройства подразумевается для круглогодичной эксплуатации. Используется для
                        полива участка и водоснабжения дома. Подключается к одному или нескольким водопроводам ведущим к
                        дому, бане, огороду.
                    </p>
                    <p class="text-left-column-page__bottom-paragraph bottom-paragraph">Что собой представляет
                        автоматизация скважин.</p>
                    <ul class="text-left-column-page__list-type-well-automation list-type-well-automation">
                        <li class="list-type-well-automation__item-well-automation item-well-automation item-well-automation1">
                            Вода из скважины поднимается вверх под действием насоса в сеть водообеспечения. Мощность
                            насоса подбирают исходя из данных паспорта на скважину, а также по необходимым объёмам
                            использования воды.
                        </li>
                        <li class="list-type-well-automation__item-well-automation item-well-automation item-well-automation2">
                            Для эксплуатации водопровода в зимний период делается кессонный колодец. Также кессон служит
                            разводкой водопровода от скважины к различным источникам водопотребления.
                        </li>
                        <li class="list-type-well-automation__item-well-automation item-well-automation item-well-automation3">
                            После того, как насос загружен в скважину, смонтирован кессонный колодец, проведен
                            водопровод к точкам потребления - устанавливается система поддерживающая давление в сети
                            водопровода, с помощью включения\выключения насоса. Простая система автоматизации
                            представляет из себя реле и гидроаккумулятор большого объема. Сложная система управляет
                            давлением с помощью частотного преобразователя и гидроаккумулятора малого объема.
                        </li>
                    </ul>

                </div>

            </div>
            <!------------- END LEFT COLUMN PAGE -------------->


            <!------------- RIGHT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-second-option-w-cpl__right-column-page right-column-page">
                <svg width="592" height="440" viewBox="0 0 592 440" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M239.62 1.13579C145.029 16.4228 169.426 101.312 66.1202 111.136C-37.1852 120.96 -6.88037 267.635 79.6198 309.136C166.12 350.637 285.148 357.291 314.12 356.636C343.092 355.981 358.372 336.21 441.62 419.136C524.868 502.062 627.887 304.594 577.868 231.674C554.292 197.305 498.085 104.957 452.091 78.2809C400.501 48.3585 289.628 -6.94607 239.62 1.13579Z" fill="#F3F9FB"/>
                </svg>

                <img class="right-column-page__img-right-column-page img-right-column-page img-fluid"
                     alt="Второй вариант – автоматизация скважины"
                     src="/img/usr_img/page_obustroistvo_skvazhini/image2.png">
            </div>
            <!------------- END RIGHT COLUMN PAGE -------------->


        </div>
    </div>


</div>
<!--------------------------- END BLOCK SECOND OPTION W-CPL --------------------------------->


<!--------------------------- BLOCK PUMP INSTALLATION --------------------------------->
<div class="block-pump-installation">
    <div class="container">
        <div class="row">


            <!------------- LEFT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-pump-installation__left-column-page left-column-page">


                <div
                    class="left-column-page__wrapper-title-block-pump-installation wrapper-title-block-pump-installation">
                    <h4 class="title-block-pump-installation">Установка насоса</h4>
                </div>


                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__paragraph paragraph">
                        Насос устанавливается внутри скважины на той глубине, которую высчитывают, основываясь на
                        характеристиках скважины.
                        Насос опускают на тросе и на водоподающей трубе. К насосу подходит электрический кабель.
                        Все эти составляющие крепятся к оголовку, который также служит крышкой скважины.
                        Сам оголовок устанавливают так, чтоб была надежная герметизация и защита от грязи и воды,
                        которые могут попасть снаружи.
                        Помимо всего этого, оголовок также является и замком на оборудование в скважине.
                        Так можно быть уверенным, что дорогое оборудование никто не украдет.
                    </p>
                </div>

            </div>
            <!------------- END LEFT COLUMN PAGE -------------->


            <!------------- RIGHT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-pump-installation__right-column-page right-column-page">
                <svg width="593" height="465" viewBox="0 0 593 465" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M84.3563 350.22C33.7723 258.381 74.6977 207.872 13.3848 112.695C-47.928 17.5176 120.528 -14.8698 192.878 6.33321C265.227 27.5362 314.502 146.954 333.551 172.08C352.601 197.207 405.712 215.384 535.346 224.35C664.98 233.316 547.447 437.269 449.162 449.101C402.838 454.678 283.203 475.733 228.484 456.509C167.106 434.946 111.099 398.774 84.3563 350.22Z" fill="#F3F9FB"/>
                </svg>

                <img class="right-column-page__img-right-column-page img-right-column-page img-fluid"
                     alt="Установка насосов" src="/img/usr_img/page_obustroistvo_skvazhini/image3.png">
            </div>
            <!------------- END RIGHT COLUMN PAGE -------------->


        </div>
    </div>

</div>
<!--------------------------- END BLOCK PUMP INSTALLATION --------------------------------->


<!-------------------------- BLOCK CAISSON INSTALLATION --------------------------------->
<div class="block-caisson-installation">

    <div class="container">

        <div class="row">

            <div
                class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 block-caisson-installation__block-text-caisson-installation block-text-caisson-installation">

                <div class="block-text-caisson-installation__wrapper-title-caisson-installation wrapper-title-caisson-installation">
                    <h4 class="wrapper-title-caisson-installation__title-caisson-installation title-caisson-installation">
                        Установка кессона
                    </h4>
                </div>

                <div class="block-text-caisson-installation__text-caisson-installation text-caisson-installation">
                    <p class="text-caisson-installation__paragraph paragraph">
                        Для того, чтобы разводку от скважины сделать сразу под землей, тем уберегая ее от промерзания,
                        над скважиной располагают кессонный колодец.
                        По своей сути это – бетонные кольца, которые могут углубляться до двух метров, то есть до уровня
                        промерзания почвы.
                        По своему диаметру кессон значительно больше, чем сама скважина.
                        Так монтаж кессона позволяет обеспечить надежную защиту от промерзания земли, а также помогает
                        сделать подачу воду постоянной и регулярной, весь год,
                        вне зависимости от времени года и суток.
                    </p>
                </div>

            </div>

        </div>

    </div>


</div>
<!-------------------------- END BLOCK CAISSON INSTALLATION --------------------------------->


<!-------------------------- BLOCK SUPPLY WRG WT HOUSE --------------------------------->
<div class="block-supply-wrg-wt-house">
    <div class="container">
        <div class="row">


            <!------------- LEFT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-supply-wrg-wt-house__left-column-page left-column-page">


                <div
                    class="left-column-page__wrapper-title-block-supply-wrg-wt-house wrapper-title-block-supply-wrg-wt-house">
                    <h4 class="title-block-supply-wrg-wt-house">Разводка и подача воды в дом</h4>
                </div>


                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__top-paragraph top-paragraph">
                        Внутри кессона, или же внутри самого помещения ставят расширительный бак.
                        Который наполняется водой из скважины. Из этого бака вода разводится до конечных потребителей.
                        Так подача воды осуществляется регулярно и с хорошим напором.
                    </p>

                    <p class="text-left-column-page__bottom-paragraph bottom-paragraph">
                        Цена обустройства скважины с кессоном под ключ индивидуальна и зависит от таких факторов как глубина скважины и технические характеристики
                        выбранного для скважины оборудования. Для расчета ориентировочной стоимости инженер выезжает на осмотр объекта и составляет смету.
                    </p>
                </div>

            </div>
            <!------------- END LEFT COLUMN PAGE -------------->


            <!------------- RIGHT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-supply-wrg-wt-house__right-column-page right-column-page">
                <svg width="592" height="440" viewBox="0 0 592 440" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M239.62 1.13579C145.029 16.4228 169.426 101.312 66.1202 111.136C-37.1852 120.96 -6.88037 267.635 79.6198 309.136C166.12 350.637 285.148 357.291 314.12 356.636C343.092 355.981 358.372 336.21 441.62 419.136C524.868 502.062 627.887 304.594 577.868 231.674C554.292 197.305 498.085 104.957 452.091 78.2809C400.501 48.3585 289.628 -6.94607 239.62 1.13579Z" fill="#F3F9FB"/>
                </svg>

                <img class="right-column-page__img-right-column-page img-right-column-page img-fluid"
                     alt="Разводка и подача воды в дом" src="/img/usr_img/page_obustroistvo_skvazhini/image4.png">
            </div>
            <!------------- END RIGHT COLUMN PAGE -------------->


        </div>
    </div>
</div>
<!-------------------------- END BLOCK SUPPLY WRG WT HOUSE --------------------------------->


<!--------------------------- BLOCK FORM --------------------------------->
<div class="block-form">
    <div class="container">
        <!------------------ START FORM --------------------->
        <form-order></form-order>
        <!------------------ END  FORM --------------------->
    </div>
</div>
<!--------------------------- END BLOCK FORM --------------------------------->

<!--------------- Block List Orders ----------------->
<div class="block-list-orders">
    <div class="container">

        <div class="block-list-orders__title-block-list-orders title-block-list-orders w-100">
            Так же у нас можно заказать:
        </div>

        <div class="row row-list-orders">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 wrapper-list-orders">
                <ul class="block-list-orders__list-orders row list-orders">


                    <li class="list-orders__item-order col-auto item-order item-order1">
                        <a class="item-order__item-link-order item-link-order" href="/page/remont_i_chistka_skvazhin">Ремонт <br>скважин</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order2">
                        <a class="item-order__item-link-order item-link-order" href="/page/izvlechenie_nasosov">Извлечение <br>насосов</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order3">
                        <a class="item-order__item-link-order item-link-order" href="/page/inzhenernie_iziskaniya">Инженерные <br>изыскания</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order4">
                        <a class="item-order__item-link-order item-link-order" href="/page/burenie_skvazhin">Бурение <br>скважин</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
<!--------------- End Block List Orders ----------------->
