<!-------------- Block Rem Skvazhin --------------------->
<div class="block-rem-skvazhin">
    <div class="container">
        <div class="row">


            <!-------------------- LEFT COLUMN PAGE --------------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-rem-skvazhin__left-column-page left-column-page">
                <div
                    class="left-column-page__wrapper-title-block-rem-skvazhin w-100 wrapper-title-block-rem-skvazhin">
                    <h3 class="wrapper-title-block-rem-skvazhin__title-block-rem-skvazhin title-block-rem-skvazhin">
                        Эксплуатация скважин
                    </h3>
                </div>

                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__top-paragraph top-paragraph">
                        Во время эксплуатации скважины происходит естественный процесс ее заиливания,
                        который зависит от множества факторов, например один из вариантов,
                        скважина изначально пробурена неправильно и в течение скорого времени она заиливается.
                    </p>
                    <p class="text-left-column-page__bottom-paragraph bottom-paragraph">
                        Также отражается на состоянии скважины правильность эксплуатации, например, насос Ручеек губителен для конструкции скважины,
                        своими вибрациями он способствует скорейшему заиливанию, баламутит воду, а еще своими вибрациями воздействуя на обсадную трубу и промывает песок под ней,
                        что тоже крайне губительно и требует ремонта, с обязательным наездом буровой техники.
                        С такой проблемой может столкнуться каждый владелец личной скважины.
                    </p>

                </div>
            </div>
            <!-------------------- END LEFT COLUMN PAGE --------------------->


            <!-------------------- RIGHT COLUMN PAGE --------------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-rem-skvazhin__right-column-page right-column-page">
                <svg width="747" height="709" viewBox="0 0 747 709" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M202.356 460.22C151.772 368.38 192.698 317.872 131.385 222.695C70.072 127.517 238.528 95.1298 310.878 116.333C383.227 137.536 432.502 256.953 451.551 282.08C470.601 307.206 523.712 325.384 653.346 334.349C782.98 343.315 665.447 547.269 567.162 559.101C520.838 564.678 401.203 585.733 346.484 566.509C285.106 544.945 229.099 508.773 202.356 460.22Z" fill="#F3F9FB"/>
                </svg>

                <ul class="right-column-page__list-images list-images d-flex">
                    <li class="list-images__item-li-img item-li-img item-li-img-left">
                        <img alt="Шнековый метод бурения" class="item-li-img__item-img item-img img-fluid"
                             src="/img/usr_img/page_rem_skvazhin/image1.png">
                    </li>
                    <li class="list-images__item-li-img item-li-img item-li-img-right">
                        <img alt="Шнековый метод бурения" class="item-li-img__item-img item-img img-fluid"
                             src="/img/usr_img/page_rem_skvazhin/image2.png">
                    </li>
                </ul>

            </div>
            <!-------------------- END RIGHT COLUMN PAGE --------------------->


        </div>

    </div>


</div>
<!-------------- End Block Block Rem Skvazhin --------------------->



<!-------------- Block Form Order --------------------->
<div class="block-form">
    <div class="container">
        <!------------------ START FORM --------------------->
        <form-order></form-order>
        <!------------------ END  FORM --------------------->
    </div>
</div>
<!-------------- End Block Form Order --------------------->

<!--------------- Block List Orders ----------------->
<div class="block-list-orders">
    <div class="container">

        <div class="block-list-orders__title-block-list-orders title-block-list-orders w-100">
            Так же у нас можно заказать:
        </div>

        <div class="row row-list-orders">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 wrapper-list-orders">
                <ul class="block-list-orders__list-orders row list-orders">


                    <li class="list-orders__item-order col-auto item-order item-order1">
                        <a class="item-order__item-link-order item-link-order" href="">Ремонт <br>скважин</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order2">
                        <a class="item-order__item-link-order item-link-order" href="">Извлечение <br>насосов</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order3">
                        <a class="item-order__item-link-order item-link-order" href="">Инженерные <br>изыскания</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order4">
                        <a class="item-order__item-link-order item-link-order" href="">Обустройство <br>скважин</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
<!--------------- End Block List Orders ----------------->
