<div class="block-page-reviews">
    <div class="container">
        <div class="block-page-reviews__container-block-reviews container-block-reviews">

            <!------------------ LIST REVIEWS ---------------------->
            <div class="container-block-reviews__block-list-reviews block-list-reviews">
                <div class="nav-arrows"></div>
                <div class="nav-dots"></div>
                <list-reviews></list-reviews>
            </div>
            <!------------------ END LIST REVIEWS ---------------------->

        </div>
    </div>
    <div class="wavy-line"></div>
</div>


<div class="block-form-add-review">
    <div class="container">
        <h2 class="block-form-add-review__title-review title-review">
            Уже воспользовались нашими услугами?<br>
            Поделитесь отзывом.
        </h2>
        <div class="container">
            <form-add-review></form-add-review>
        </div>
    </div>
</div>
