<div class="block-certificates">
    <div class="container">
        <div class="wrapper-title-block-certificates w-100">
            <h3 class="block-certificates__title-block-certificates title-block-certificates w-100">
                Сертификаты
            </h3>
        </div>
        <div class="block-certificates__subtitle-block-certificates subtitle-block-certificates">
            Здесь вы можете ознакомиться с нашими сертификатами,<br>
            которые подтверждают, что компания «Блиц» — надежный деловой партнер,<br>
            а специалисты компании — настоящие профессионалы, которые сделают Вашу жизнь в загородном доме <br>
            максимально легкой и приятной.
        </div>


        <slick-carousel-certificates></slick-carousel-certificates>

    </div>
</div>


<div class="block-partners">
    <div class="container">
        <div class="wrapper-title-block-partners w-100">
            <h3 class="block-partners__title-block-partners title-block-partners">
                Наши партнеры
            </h3>
        </div>
        <!----------- List Banners -------------->
        <div class="block-partners__list-banners-partners list-banners-partners">

            <ul class="list-banners-partners__list-banners row list-banners">
                <li class="list-banners__item-banner item-banner item-banner1 col-2">
                    <img alt="Пск Орион" class="item-banner__item-banner-img item-banner-img img-fluid"
                         src="/img/usr_img/banners_partners/banner_psk_orion.png">
                </li>
                <li class="list-banners__item-banner item-banner item-banner2 col-10">
                    <img alt="Инженерная Сантехника Бельдозер"
                         class="item-banner__item-banner-img item-banner-img img-fluid"
                         src="/img/usr_img/banners_partners/banner_bulldozer.png">
                </li>
            </ul>

        </div>
        <!----------- End List Banners -------------->

    </div>
</div>

<div class="block-documents">
    <div class="container">
        <div class="wrapper-title-block-documents w-100">
            <h3 class="block-documents__title-block-documents title-block-documents">
                Документы
            </h3>
        </div>

        <div class="block-documents__subtitle-block-documents subtitle-block-documents">
            Вы можете ознакомиться с документами нашей компании.
        </div>

        <div class="block-documents__list-documents row list-documents">

            <div
                class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 list-documents__box-document box-document box-document1">
                <a class="box-document__link-document link-document link-document1"
                   href="/storage/documents/dogovor.docx">
                <span class="link-document__text-document text-document">
                    Скачать договор на бурение
                </span>
                </a>
            </div>

            <div
                class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 list-documents__box-document box-document box-document2">
                <a class="box-document__link-document link-document link-document2"
                   href="/storage/documents/pasport.docx">
                    <span class="link-document__text-document text-document">Скачать паспорт скважины</span>
                </a>
            </div>

        </div>
    </div>
</div>


<div class="block-our-technique">
    <div class="container">
        <div class="wrapper-title-block-our-technique w-100">
            <h3 class="block-our-technique__title-block-our-technique title-block-our-technique">Наша техника</h3>
        </div>
        <div class="block-our-technique__subtitle-block-our-technique subtitle-block-our-technique w-100">
            А это наш собственный автопарк буровой и вспомогательной техники. Мы тщательно следим за<br> исправностью
            каждой
            машины, чтобы обеспечить качественное оказание услуг.
        </div>


        <div class="block-our-technique__block-list-our-technique block-list-our-technique">

            <ul class="block-list-our-technique__list-our-technique list-our-technique row list-our-technique-top">
                <li class="list-our-technique__item-technique item-technique item-technique1 col-5">
                    <img class="item-technique__item-technique-img item-technique-img"
                         src="/img/usr_img/technique/tech1.png">
                </li>
                <li class="list-our-technique__item-technique item-technique item-technique2 col-7">
                    <img class="item-technique__item-technique-img item-technique-img"
                         src="/img/usr_img/technique/tech2.png">
                </li>
            </ul>

            <ul class="block-list-our-technique__list-our-technique list-our-technique row list-our-technique-bottom">

                <li class="list-our-technique__item-technique item-technique item-technique item-technique1 col-5">
                    <img class="item-technique__item-technique-img item-technique-img"
                         src="/img/usr_img/technique/tech3.png">
                </li>

                <li class="list-our-technique__item-technique item-technique item-technique2 col-2">
                    <img class="item-technique__item-technique-img item-technique-img"
                         src="/img/usr_img/technique/tech4.png">
                </li>

                <li class="list-our-technique__item-technique item-technique item-technique3 col-5">
                    <img class="item-technique__item-technique-img item-technique-img"
                         src="/img/usr_img/technique/tech5.png">
                </li>
            </ul>


        </div>
    </div>

</div>

