<!--------------------------- BLOCK ENGINEERING SURVEY TOP --------------------------------->
<div class="block-engineering-survey-top">
    <div class="container">

        <div class="row">

            <!------------- LEFT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-engineering-survey-top__left-column-page left-column-page">

                <div
                    class="left-column-page__wrapper-title-block-engineering-survey-top w-100 wrapper-title-block-engineering-survey-top">
                    <h3 class="wrapper-title-block-auger-drilling__title-block-engineering-survey-top title-block-engineering-survey-top">
                        Инженерные изыскания
                    </h3>
                </div>


                <div class="left-column-page__text-left-column-page text-left-column-page">
                    <p class="text-left-column-page__top-paragraph top-paragraph">
                        Бурение может производиться колонковым или шнековым способом в зависимости от того, какое количество информации вы хотите заполучить и насколько она должна быть качественной и объективной.
                    </p>
                    <p class="text-left-column-page__bottom-paragraph middle-paragraph">
                        Самым простым видом бурения является шнековое. При таком бурении производится отбор проб нарушенной структуры и определяются границы между слоями и уровень грунтовых вод.
                    </p>
                    <p class="text-left-column-page__bottom-paragraph bottom-paragraph">
                        В отличие от шнекового, колонковое бурение производится трубой с коронкой. При бурении грунт попадает внутрь этой трубы и его потом извлекают не нарушая слои. В лаборатории проводятся всевозможные исследования. В том числе, и механической характеристики грунтов.
                    </p>

                </div>

            </div>
            <!------------- END LEFT COLUMN PAGE -------------->

            <!------------- RIGHT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-engineering-survey-top__right-column-page right-column-page">
                <svg width="747" height="709" viewBox="0 0 747 709" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M202.356 460.22C151.772 368.38 192.698 317.872 131.385 222.695C70.072 127.517 238.528 95.1298 310.878 116.333C383.227 137.536 432.502 256.953 451.551 282.08C470.601 307.206 523.712 325.384 653.346 334.349C782.98 343.315 665.447 547.269 567.162 559.101C520.838 564.678 401.203 585.733 346.484 566.509C285.106 544.945 229.099 508.773 202.356 460.22Z" fill="#F3F9FB"/>
                </svg>


                <img class="img-fluid right-column-page__img-right-column-page img-right-column-page" alt="Инженерные изыскания"
                     src="/img/usr_img/page_engineering_survey/image1.png">

            </div>
            <!------------- END RIGHT COLUMN PAGE -------------->


        </div>


    </div>
</div>
<!--------------------------- END BLOCK ENGINEERING SURVEY TOP --------------------------------->



<!--------------------------- BLOCK ENGINEERING SURVEY BOTTOM --------------------------------->
<div class="block-engineering-survey-bottom">
    <div class="container">

        <div class="row">

            <!------------- LEFT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-engineering-survey-bottom__left-column-page left-column-page">


                <svg width="673" height="505" viewBox="0 0 673 505" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M273.5 49C178.909 64.287 203.305 149.177 100 159C-3.30527 168.824 26.9995 315.5 113.5 357C200 398.501 319.028 405.155 348 404.5C376.972 403.845 392.252 384.074 475.5 467C558.748 549.926 661.766 352.458 611.747 279.538C588.172 245.169 531.965 152.821 485.971 126.145C434.381 96.2227 323.507 40.9182 273.5 49Z" fill="#F3F9FB"/>
                </svg>


                <div class="right-column-page__wrapper-img-left-column-page wrapper-img-left-column-page">
                    <img class="img-fluid" alt="Инженерные изыскания"
                         src="/img/usr_img/page_engineering_survey/image2.png">
                </div>




            </div>
            <!------------- END LEFT COLUMN PAGE -------------->

            <!------------- RIGHT COLUMN PAGE -------------->
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 block-engineering-survey-top__right-column-page right-column-page">

                <div class="left-column-page__text-right-column-page text-right-column-page">
                    <p class="text-right-column-page__paragraph paragraph">
                        Также, проводятся изыскания для строительства: индивидуального и коллективного, промышленного и жилищного.
                    </p>
                    <p class="text-right-column-page__paragraph paragraph">
                        Вы решили строить дом и после визита к архитектору определились с проектом. Но этого недостаточно. Вместе с тем необходимо изучить геотехнические условия земельной площадки на которой вы собираетесь возводить строение.
                    </p>
                    <p class="text-right-column-page__paragraph paragraph">
                        Как показывает практический опыт, для строительства коттеджей и домов эконом-класса геологические исследования нужны не меньше, чем для промышленного строительства. На самом деле, лучше один раз провести изыскания и выяснить какие почвы присутствуют на вашем участке. От этого зависит, какой тип фундамента необходимо возвести под ваш дом.
                    </p>
                    <p class="text-right-column-page__paragraph paragraph">
                        Ведь никому не хочется в последствии переделывать покосившиеся и треснувшие несущие стены из-за усадки фундамента, который был заложен изначально неправильно. Чтобы этого избежать, лучше стоит обратиться к инженерам-геологам и провести необходимый комплекс работ.
                    </p>
                    <p class="text-right-column-page__paragraph paragraph">
                        Многие считают, что этап инженерных изысканий не обязателен. Однако на практике и по опыту работ, можно сказать, что геология выполненная перед строительством вашего здания поможет избежать множеству проблем в будущем. Лучше пробурить несколько скважин и определить геологический разрез земельного участка, а также уровень грунтовых вод. И исходя от этого сделать правильный выбор.
                    </p>
                </div>


            </div>
            <!------------- END RIGHT COLUMN PAGE -------------->


        </div>


    </div>
</div>
<!--------------------------- END BLOCK ENGINEERING SURVEY BOTTOM --------------------------------->


<!--------------------------- BLOCK FORM --------------------------------->
<div class="block-form">
    <div class="container">
        <!------------------ START FORM --------------------->
        <form-order></form-order>
        <!------------------ END  FORM --------------------->
    </div>
</div>
<!--------------------------- END BLOCK FORM --------------------------------->

<!--------------- Block List Orders ----------------->
<div class="block-list-orders">
    <div class="container">

        <div class="block-list-orders__title-block-list-orders title-block-list-orders w-100">
            Так же у нас можно заказать:
        </div>

        <div class="row row-list-orders">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 wrapper-list-orders">
                <ul class="block-list-orders__list-orders row list-orders">


                    <li class="list-orders__item-order col-auto item-order item-order1">
                        <a class="item-order__item-link-order item-link-order" href="/page/remont_i_chistka_skvazhin">Ремонт <br>скважин</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order2">
                        <a class="item-order__item-link-order item-link-order" href="/page/izvlechenie_nasosov">Извлечение <br>насосов</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order3">
                        <a class="item-order__item-link-order item-link-order" href="/page/burenie_skvazhin">Бурение <br>скважин</a>
                    </li>
                    <li class="list-orders__item-order item-order col-auto item-order4">
                        <a class="item-order__item-link-order item-link-order" href="/page/obustroistvo_skvazhin">Обустройство <br>скважин</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>
<!--------------- End Block List Orders ----------------->
