//////// Block List Order Work
.block-list-order-work {

    ///////////// Box Order Work1
    .box-order-work.box-order-work1 {


    }

    ///////////// End Box Order Work 1

    ///////////// Box Order Work 2
    .box-order-work.box-order-work2 {
        margin-top: 0rem;



    }

    ///////////// End Box Order Work 2


    ///////////// Box Order Work 3
    .box-order-work.box-order-work3 {
        margin-top: 2rem;

    }

    ///////////// End Box Order Work 3

    ///////////// Box Order Work 4
    .box-order-work.box-order-work4 {
        margin-top: 2rem;



    }

    ///////////// End Box Order Work 4


    /// Default Box Order Work
    .box-order-work {

        .inner-box-order-work {
            .num-order-work {}

            .block-img-order-work {

                .img-order-work {}

            }

            .text-order-work {
                font-size: 12px;
            }

        }
    }

}

//////// End Block List Order Work
