/******************************* Default css ******************************/
.block-view-category {
    padding-bottom: 30px;
    .container-main-description{
        padding-top: 20px;
        padding-bottom: 0px
    }
    .wavy-line {
        background: url(/img/tpl_img/wavy_line_tablet.png) no-repeat;
        height: 75px;
        background-size: contain;
    }

    .header-block-view-category {
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 600;
        font-size: 2.75rem;
        line-height: 115%;
        /* identical to box height, or 51px */
        text-align: center;


        &:after {
            background: url('/img/tpl_img/icon_title_tablet.png') no-repeat;
            width: 176px;
            height: 37px;
            bottom: -58px;
        }
    }

    .block-list-materials {


        .row-list-materials {


            &:first-child {
                margin-top: 6rem;
            }

            &:not(:first-child) {
                margin-top: 56px;
            }

            .box-row-materials {

                &:last-child {
                    margin-top: 0px;
                }

                /////// Box Material
                .box-material.box-material-left{
                    padding-left: 40px;

                }
                .box-material.box-material-right{
                    padding-left: 10px;

                }


                .box-material {


                    .box-img-material-empty {
                        width: 306.55px;
                        height: 152px;
                    }

                    .box-img-material {

                        img {

                        }
                    }

                    .box-anons-material {
                        padding-left: 0px;
                        padding-top: 15px;
                        .inner-anons-material {
                            width: 306.55px;
                            .link-anons-material {
                                font-size: 15px;
                                line-height: 15px;

                            }

                            .title-anons-material {
                                font-family: Montserrat Alternates;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 25px;
                                text-align: center;
                                color: #000000;

                                &:hover {

                                }

                            }

                            .anons-material {
                                margin-top: 12px;
                                p{
                                    margin-bottom: 2px;
                                }
                                * {
                                    font-family: Montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 20px;
                                    text-align: justify;
                                    letter-spacing: 0.05em;
                                    color: #000000;
                                }
                            }

                        }

                    }


                }

                /////// End Box Material

            }

        }

    }


    //////////// Block Form
    .block-form{
        margin-top: 6rem;
        padding-left: 5px;
        padding-right: 5px;
        .container-block-form{

        }
    }





}

/******************************* End Default css ******************************/
