/*********************** BLOCK COMPANY *******************/
.block-company {
    padding-top: 7.68rem;

    .block-company-container {
        background: #FFFFFF;
        border-radius: 40px;
        padding-top: 3.6rem;
        padding-bottom: 3.3rem;

        //////////////// Block Company Title
        .block-company-title {
            font-family: Montserrat Alternates;
            font-style: normal;
            font-weight: 600;
            font-size: 3.38rem;
            line-height: 66px;
            color: #000000;
            margin: 0 auto;
            text-align: center;
            position: relative;
            width: max-content;

            &:after {
                position: absolute;
                display: block;
                content: "";
                background: url('/img/tpl_img/icon_title.png') no-repeat;
                width: 176px;
                height: 37px;
                margin: auto;
                right: 0;
                left: 0;
                bottom: -44px;
            }
        }

        //////////////// End Block Company Title

        //////////////// Block company Description
        .block-company-description {

            .block-text {
                margin-top: 4.8rem;
                padding-left: 6.1rem;
                padding-right: 6.1rem;

                p {

                    &:not(:first-child) {
                        margin-top: 0rem;
                    }

                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 158.47%;
                    letter-spacing: 0.05em;
                    color: #000000;
                }

                .text-top {

                    .wrapper-video {
                        position: relative;
                        display: block;
                        float: right;
                        margin-top: 2rem;
                        width: max-content;
                        ////// Bt View Video
                        .button-video {
                            outline: none;
                            border: none;
                            position: absolute;
                            text-decoration: none;
                            display: block;
                            background: url('/img/tpl_img/bt_video.png') no-repeat;
                            width: 70px;
                            height: 70px;
                            margin: auto;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;

                            &:hover {
                                text-decoration: none;
                            }


                        }

                        ////// End Link Video
                        .img-video {
                            padding: 10px 0px 10px 10px;
                        }
                    }

                }

                .text-middle {

                }

                .text-bottom {

                }

            }

            // LIST BENEFITS
            @import "list_benefits";


        }

        //////////////// End Block company Description


    }
}

/*********************** END BLOCK COMPANY *******************/
