.block-view-page.block-view-page-obustroistvo-skvazhini {
    padding-bottom: 0px;

    .container-main-description {


        /////////////////////// description page
        .description-page.description-page-obustroistvo-skvazhini {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 5.6rem;

            br {
                display: none;
            }

            .bottom-paragraph, .top-paragraph {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 158.47%;
                /* or 32px */
                text-align: center;
                letter-spacing: 0.05em;
                color: #343434;

                strong {

                }
            }

            .top-paragraph {

            }

            .bottom-paragraph {

            }

        }

    }

    .wavy-line {
        background: url(/img/tpl_img/wavy_line_tablet.png) no-repeat;
        height: 75px;
        background-size: contain;
    }


    //html page
    .html-page.html-page-obustroistvo-skvazhini {


        /******************************** BLOCK FIRST OPTION W-CPL **********************************/
        .block-first-option-w-cpl {

            /////// Left Column Page
            .left-column-page {

                .wrapper-title-block-first-option-w-cpl {

                    .title-block-first-option-w-cpl {


                        &:after {


                        }
                    }

                }


                .text-left-column-page {
                    margin-top: 4rem;
                    width: initial;

                    b, strong {

                    }

                    * {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 158.47%;
                        /* or 25px */

                        letter-spacing: 0.05em;

                        color: #343434;
                    }

                    p {
                        &:not(:first-child) {

                        }
                    }

                    .top-paragraph {

                    }

                    .middle-paragraph {

                    }

                    .last-paragraph {

                    }

                }


            }

            /////// End Left Column Page


            /////// Right Column Page
            .right-column-page {
                padding-right: 20px;

                .wrapper-img-right-column-page {


                    svg {
                        display: none;
                    }


                    img {


                    }

                    &:after {

                    }
                }

            }

            /////// End Right Column Page


        }

        /******************************** END BLOCK FIRST OPTION W-CPL **********************************/

        /******************************** BLOCK SECOND OPTION W-CPL **********************************/
        .block-second-option-w-cpl {

            ///// Left Column Page
            .left-column-page {
                padding-left: 20px;
                //// Title
                .title-block-second-option-w-cpl {


                    &:after {


                    }
                }

                /// End title

                //// Text Left Column Page
                .text-left-column-page {

                    margin-top: 4rem;
                    width: initial;

                    .list-type-well-automation {


                        .item-well-automation {


                            &:not(:first-child) {

                            }

                            &:before {

                            }
                        }
                    }

                    b, strong {

                    }

                    * {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 158.47%;
                        /* or 25px */

                        letter-spacing: 0.05em;

                        color: #343434;
                    }

                    p {
                        &:not(:first-child) {

                        }
                    }

                    .top-paragraph {

                    }

                    .bottom-paragraph {

                    }

                }

                //// End Text Left Column Page

            }

            ///// End Left Column Page

            .right-column-page {
                padding-right: 20px;

                svg {
                    display: none;
                }

                .img-right-column-page {

                }

            }

        }

        /******************************** END BLOCK SECOND OPTION W-CPL **********************************/


        /******************************** BLOCK PUMP INSTALLATION **********************************/
        .block-pump-installation {


            ///////// Left Column Page
            .left-column-page {
                .wrapper-title-block-pump-installation {
                    .title-block-pump-installation {


                        &:after {

                        }

                    }
                }

                .text-left-column-page {
                    margin-top: 4rem;
                    width: initial;

                    b, strong {

                    }

                    * {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        letter-spacing: 0.05em;
                        color: #343434;
                    }
                }

            }

            ///////// End Left Column Page


            ////////////// Right Column Page
            .right-column-page {
                padding-right: 20px;

                svg {
                    display: none;
                }

                .img-right-column-page {

                }
            }

            ////////////// End Right Column Page


        }

        /******************************** END BLOCK PUMP INSTALLATION **********************************/


        /******************************** BLOCK CAISSON INSTALLATION **********************************/
        .block-caisson-installation {


            .block-text-caisson-installation {
                .wrapper-title-caisson-installation {

                    .title-caisson-installation {


                        &:after {

                        }
                    }

                }


                .text-caisson-installation {


                    * {

                    }

                    .paragraph {

                    }

                }

            }


        }

        /******************************** END BLOCK CAISSON INSTALLATION **********************************/


        /******************************** BLOCK SUPPLY WRG WT HOUSE **********************************/
        .block-supply-wrg-wt-house {

            ///////// Left Column Page
            .left-column-page {
                .wrapper-title-block-supply-wrg-wt-house {
                    .title-block-supply-wrg-wt-house {
                        right: 0px;

                        &:after {

                        }
                    }
                }

                .text-left-column-page {
                    margin-top: 4rem;
                    width: initial;

                    .top-paragraph {

                    }

                    .bottom-paragraph {

                    }

                    b, strong {

                    }

                    * {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 158.47%;
                        /* or 25px */

                        letter-spacing: 0.05em;

                        color: #343434;
                    }
                }

            }

            ///////// End Left Column Page


            ////////////// Right Column Page
            .right-column-page {
                padding-right: 20px;

                svg {
                    display: none;
                }

                .img-right-column-page {
                    top: 130px;
                    left: initial;
                    right: 10px;
                }
            }

            ////////////// End Right Column Page
        }

        /******************************** END BLOCK SUPPLY WRG WT HOUSE **********************************/


        //////////////////////////////// BLOCK FORM
        @import '../layouts/block_form';

        .block-form {
            padding-left: 5px;
            padding-right: 5px;
        }


        @import "block_list_orders";

        .block-list-orders {

        }

    }

}
